<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
   <%- include('../partials/head'); %>
</head>


<body class="container px-mb-5">
   <main>
      <div class="container py-4">

         <%- include('../partials/header'); %>

            <div class="container-fluid pb-3 pt-2" id="notlogged">
               <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
                  <div class="bg-body-tertiary border rounded-3">
                     <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                        <div class="py-5">
                           <p class=" fw-bold">Login</p>
                           <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                              <input type="text" class="form-control" placeholder="username..." id="username">
                              <br>
                              <input type="password" class="form-control" placeholder="password..." id="password">
                              <br>
                              <button class="btn btn-primary btn-md" type="button" id="loginbtn">Login</button>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="bg-body-tertiary border rounded-3">
                     <div class="container-fluid py-5">
                        <p class=" fw-bold">Sign-up</p>
                        <form class="col-12 gap-3 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                           <input type="text" class="form-control" placeholder="FullName..." id="fullname">
                           <br>
                           <input type="text" class="form-control" placeholder="username..." id="username1">
                           <br>
                           <input type="password" class="form-control" placeholder="password..." id="password1">
                           <br>
                           <button class="btn btn-outline-secondary btn-md" type="button" id="signup">Sign-up</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>

            <div id="logged" hidden>
               <%- include('../partials/navbar'); %>
                  <div id="app">

                  </div>

                  <div id="c1">

                     <%- include('../components/home'); %>
                  </div>

                  <div id="c2" hidden>

                     <%- include('../components/accident'); %>
                  </div>

                  <div id="c3" hidden>

                     <%- include('../components/driver'); %>
                  </div>

                  <div id="c4" hidden>

                     <%- include('../components/police'); %>
                  </div>

                  <div id="c5" hidden>

                     <%- include('../components/vehicle'); %>
                  </div>

                  <div id="c6" hidden>

                     <%- include('../components/victim'); %>
                  </div>

                  <div id="c7" hidden>

                     <%- include('../components/witnesse'); %>
                  </div>





            </div>


            <footer class="pt-3 mt-4 text-body-secondary border-top">
               <%- include('../partials/footer'); %>
            </footer>
      </div>
   </main>

   <script>
      // hide all c dev 
      function hideall() {
         document.getElementById("c1").hidden = true;
         document.getElementById("c2").hidden = true;
         document.getElementById("c3").hidden = true;
         document.getElementById("c4").hidden = true;
         document.getElementById("c5").hidden = true;
         document.getElementById("c6").hidden = true;
         document.getElementById("c7").hidden = true;
      }
      // show 
      function show(id) {
         hideall();
         if (id == "c1") {
            document.getElementById("c1").hidden = false;
         }
         else if (id == "c2") {
            document.getElementById("c2").hidden = false;
         }
         else if (id == "c3") {
            document.getElementById("c3").hidden = false;
         }
         else if (id == "c4") {
            document.getElementById("c4").hidden = false;
         }
         else if (id == "c5") {
            document.getElementById("c5").hidden = false;
         }
         else if (id == "c6") {
            document.getElementById("c6").hidden = false;
         }
         else if (id == "c7") {
            document.getElementById("c7").hidden = false;
         }

      }
      document.getElementById("c1").hidden = false;
      try {
         if (localStorage.getItem("status") == "true") {
            document.getElementById("logged").hidden = false;
            document.getElementById("notlogged").hidden = true;
            document.getElementById("lout").hidden = false;
            document.getElementById("lin").hidden = true;
            document.getElementById("fullNameT").innerHTML = JSON.parse(localStorage.getItem("username")).data.fullName;
            document.getElementById("fullNameT").hidden = false;
         } else {
            document.getElementById("logged").hidden = true;
            document.getElementById("notlogged").hidden = false;
            document.getElementById("lout").hidden = true;
            document.getElementById("lin").hidden = false;
            document.getElementById("fullNameT").hidden = true;
         }
      }
      catch (err) {
         console.log(err);
      }



      // api post request for crate vehicle 
      const createVehicle = async (vehicle_type, mechanical_problem, license_number) => {
         const response = await fetch('/api/vehicles', {
            method: 'POST',
            body: JSON.stringify({
               vehicle_type,
               mechanical_problem,
               license_number
            }),
            headers: {
               'Content-Type': 'application/json'
            }
         });
         if (response.ok) {
            document.location.replace('/');
         } else {
            alert(response.statusText);
         }
      };
      //       const toastLive = document.getElementById('liveToast')


      // const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLive)
      // toastTrigger.addEventListener('click', () => {
      //    toastBootstrap.show()
      // })
      // console.log("toast")
      loginbtn = document.getElementById("loginbtn");
      loginbtn.addEventListener("click", login);
      logoutbtn = document.getElementById("lout");
      logoutbtn.addEventListener("click", logout);
      function logout() {
         localStorage.setItem("status", false);
         localStorage.setItem("username", "");
         document.getElementById("fullNameT").hidden = true;
         document.getElementById("logged").hidden = true;
         document.getElementById("notlogged").hidden = false;
         document.getElementById("lout").hidden = true;
         document.getElementById("lin").hidden = false;
         document.getElementById("tosttittle").innerHTML = "Success";
         document.getElementById("tostbody").innerHTML = "Logout Successful";
         var toastElList = [].slice.call(document.querySelectorAll('.toast'))
         var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
         });
         toastList.forEach(toast => toast.show());
      }

      function login() {
         var username = document.getElementById("username").value;
         var password = document.getElementById("password").value;
         if (username && password) {
            //login api call post request api/login
            fetch('/api/login', {
               method: 'POST',
               body: JSON.stringify({
                  username,
                  password
               }),
               headers: {
                  'Content-Type': 'application/json'
               }
            }).then(response => response.json())
               .then(data => {
                  console.log(data);
                  if (data.status == true) {
                     localStorage.setItem("status", data.status);
                     localStorage.setItem("username", JSON.stringify(data));
                     document.getElementById("fullNameT").innerHTML = JSON.parse(localStorage.getItem("username")).data.fullName;
                     document.getElementById("fullNameT").hidden = false;
                     document.getElementById("logged").hidden = false;
                     document.getElementById("notlogged").hidden = true;
                     document.getElementById("lout").hidden = false;
                     document.getElementById("lin").hidden = true;
                     document.getElementById("username").value = "";
                     document.getElementById("password").value = "";
                     document.getElementById("tosttittle").innerHTML = "Success";
                     document.getElementById("tostbody").innerHTML = data.message;
                     var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                     var toastList = toastElList.map(function (toastEl) {
                        return new bootstrap.Toast(toastEl)
                     });
                     toastList.forEach(toast => toast.show());
                  } else {
                     document.getElementById("tosttittle").innerHTML = "Error";
                     document.getElementById("tostbody").innerHTML = "Login Failed!";
                     document.getElementById("lout").hidden = true;
                     document.getElementById("lin").hidden = false;
                     var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                     var toastList = toastElList.map(function (toastEl) {
                        return new bootstrap.Toast(toastEl)
                     });
                     toastList.forEach(toast => toast.show());
                  }
               }).catch((error) => {
                  console.error('Error:', error);
                  document.getElementById("tosttittle").innerHTML = "Error";
                  document.getElementById("tostbody").innerHTML = "Login Failed!";
                  var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                  var toastList = toastElList.map(function (toastEl) {
                     return new bootstrap.Toast(toastEl)
                  });
                  toastList.forEach(toast => toast.show());
               })


         } else {
            document.getElementById("tosttittle").innerHTML = "Error";
            document.getElementById("tostbody").innerHTML = "username or password is empty";
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
               return new bootstrap.Toast(toastEl)
            });
            toastList.forEach(toast => toast.show());
         }
      }
      var signupbtn = document.getElementById("signup");
      signupbtn.addEventListener("click", signup);
      // signup api call post request api/signup
      function signup() {
         var fullName = document.getElementById("fullname").value;
         var username = document.getElementById("username1").value;
         var password = document.getElementById("password1").value;
         if (fullname && username && password) {
            fetch('/api/singup', {
               method: 'POST',
               body: JSON.stringify({
                  fullName,
                  username,
                  password
               }),
               headers: {
                  'Content-Type': 'application/json'
               }
            }).then(response => response.json())
               .then((data) => {
                  console.log(data);
                  console.log(status);
                  if (data.status == true) {
                     document.getElementById("fullname").value = "";
                     document.getElementById("username1").value = "";
                     document.getElementById("password1").value = "";
                     document.getElementById("tosttittle").innerHTML = "Success";
                     document.getElementById("tostbody").innerHTML = data.message;
                     var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                     var toastList = toastElList.map(function (toastEl) {
                        return new bootstrap.Toast(toastEl)
                     });
                     toastList.forEach(toast => toast.show());
                  } else {
                     document.getElementById("tosttittle").innerHTML = "Error";
                     document.getElementById("tostbody").innerHTML = data.message;
                     var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                     var toastList = toastElList.map(function (toastEl) {
                        return new bootstrap.Toast(toastEl)
                     });
                     toastList.forEach(toast => toast.show());
                  }
               }).catch((error) => {
                  console.error('Error:', error);
                  document.getElementById("tosttittle").innerHTML = "Error";
                  document.getElementById("tostbody").innerHTML = "Signup Failed!";
                  var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                  var toastList = toastElList.map(function (toastEl) {
                     return new bootstrap.Toast(toastEl)
                  });
                  toastList.forEach(toast => toast.show());
               })
         } else {
            document.getElementById("tosttittle").innerHTML = "Error";
            document.getElementById("tostbody").innerHTML = "username or password is empty";
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
               return new bootstrap.Toast(toastEl)
            });
            toastList.forEach(toast => toast.show());
         }
      }
   </script>


</body>

</html>